.site__header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #0074d9;
  color: #ffffff;
  height: 120px;
  padding-left: 20px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.count {
  display: flex;
  flex-direction: column;
}

.nav__links {
  padding: 20px;
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__links a {
  margin-right: 20px;
  color: #ffffff;
  text-decoration: none;
  transition: all .3s;
}

.nav__links a:hover {
  color: #fee800;
}

.auth__button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.auth__button:hover {
  background-color: #ffffff;
  color: #0074d9;
}

.count__text {
  max-width: 400px;
}

.loggined__photo {
  min-width: 30px;
  min-height: 30px;
}

@media screen and (max-width: 800px) {
  .nav__links {
    overflow-x: scroll;
  }

  
}
